---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Card from "../components/Card.astro";

const res = await fetch('https://images-api.nasa.gov/search?q=star');
const data = await res.json();

---
<Layout title="Products">
    <div class="grid grid-cols-3 text-white p-20">
    {
        data.collection.items.map((item, index) => {
            if(!item.links || !item.links[0].href) return null;
            return <Card
            class="image"
                id={item.data[0].nasa_id}
                title={item.data[0].title}
                image={item.links && item.links[0].href}
                description={item.data[0].description.substring(0, 100) + "..."}
            />;
        })
    }

</div>


<Footer title="footer" />
</Layout>

<style>
    .image{
    animation: fadeIn 1s;
  }
    .list p {
        margin: 10px;
    }
    .list img {
        margin: 10px;
    }

    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
  }
</style>