---
import { CartButton } from "../components/CartButton";
---

<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">Home</a>
    </div>
    <div class="flex-none">
        <CartButton client:load />
    </div>
</div>
